# This file is an example referenced from https://www.ibm.com/docs/en/hpvs/1.2.x?topic=reference-openssl-configuration-examples#the-sample-configuration-file-to-generate-the-csr-for-a-server-certificate
# We add the section extension_req and put hostname and IP address (optional) and we need to specify the extension section when we use openssl with -extensions option

[ extension_req ]
basicConstraints       = CA:true
extendedKeyUsage       = serverAuth
subjectAltName         = @sans

[ sans ]
DNS.1 = <HOSTNAME>
IP.1 = <IP_ADDRESS>
