[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
days               = 3650
req_extensions     = v3_req
prompt             = no

[ req_distinguished_name ]
C = US
ST = CA
L = SF
O = terratrue
OU = engineering
CN = terratrue

[ v3_req ]
basicConstraints       = CA:true
extendedKeyUsage       = serverAuth
subjectAltName         = @sans

[ sans ]
DNS.1 = <HOSTNAME>
IP.1 = <IP_ADDRESS>